@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nav-links li {
    margin: 1rem; }
  .nav-links a {
    border: 5px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem; }
    .nav-links a:hover, .nav-links a:active {
      background: #f8df00;
      border-color: #292929;
      color: #292929; }
  .nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit; }
  .nav-links button:focus {
    outline: none; }
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: white; }

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row; }
    .nav-links li {
      margin: 0 0.5rem; }
    .nav-links a {
      color: black;
      text-decoration: none; }
    .nav-links button {
      border: 1px solid white;
      color: black;
      background: transparent; }
    .nav-links button:hover,
    .nav-links button:active {
      background: #f8df00;
      color: #292929; } }

.isLoggedIn {
  color: black;
  padding: 10px;
  display: inline-flex;
  height: 5em;
  width: 10%;
  margin-right: 60px;
  margin-left: 20px; }

#username-text {
  margin-left: 1rem; }

.place-item {
  margin: 1rem 0; }
  .place-item__content {
    padding: 0; }
  .place-item__info {
    padding: 1rem;
    text-align: center; }
  .place-item .place-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem; }
    .place-item .place-item__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .place-item__info h2,
  .place-item__info h3,
  .place-item__info p {
    margin: 0 0 0.5rem 0; }
  .place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc; }
  .place-item__modal-content {
    padding: 0; }
  .place-item__modal-actions {
    text-align: right; }

.map-container {
  height: 15rem;
  width: 100%; }

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem; } }

.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem; }
