/////////////////////////////////
// Auth
.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;

  &__header {
    color: white;
    text-align: center;
  }

  & form {
    margin-bottom: 1rem;
  }
}

.reset-password-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

/////////////////////////////////
// Settings
.container {
  background-color: #fffffff1;
  display: flex;
  width: 70%;
  min-height: 500px;
  margin: auto;
  border: 1px dotted grey;
}

/* Sidebar */
.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 1px dotted grey;
}

.settings {
  justify-content: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__profile-picture div img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  &__username {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__username-name {
    font-size: 1.4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    margin-top: 3rem auto;
  }

  &__form Button {
    margin-top: 2rem;
    align-self: center;
    width: 15rem;
  }
}

.side-nav {
  list-style: none;
  width: 100%;

  &__item {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.25s;
  }

  &__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: pink;
    transform: scaleY(0);
    transition: all 0.2s;
  }

  &__item:active {
    background-color: yellow;
  }

  &__item:hover {
    background-color: #e5e2e2;
  }
}
