/////////////////////////////////////////////////
// PlaceItem
.place-item {
  margin: 1rem 0;

  &__content {
    padding: 0;
  }
  &__info {
    padding: 1rem;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info h2,
  &__info h3,
  &__info p {
    margin: 0 0 0.5rem 0;
  }

  &__actions {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  &__modal-content {
    padding: 0;
  }
  &__modal-actions {
    text-align: right;
  }
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  }
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
  &-heart {
    fill: black;

    &__active {
      fill: red;
    }
  }
}

/////////////////////////////////////////////////
// PlaceList
.place-list {
  display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  // flex-wrap: wrap;
  list-style: none;
  // margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

#custom {
  margin: 1rem 1rem;
}

#custom img {
  object-fit: cover;
  max-height: 10rem;
}

#extra-content {
  display: flex;
  justify-content: flex-end;
}

.extra-content__hidden {
  justify-items: flex-end;
}
